<div class="container">
    <h1>Events</h1>
    <div class="table-responsive">
        <table st-table="vm.displayedEvents" st-safe-src="vm.events" class="table table-striped table-hover table-condensed" ng-controller="EventListController">
            <thead>
                <tr>
                    <th st-sort="timestamp" st-sort-default="reverse">DATE</th>
                    <th st-sort="timestamp">TIME</th>
                    <th st-sort="involvedObject.name">NAME</th>
                    <th st-sort="involvedObject.kind">KIND</th>
                    <th st-sort="involvedObject.fieldPath">SUBOBJECT</th>
                    <th st-sort="reason">REASON</th>
                    <th st-sort="source">SOURCE</th>
                    <th st-sort="message">MESSAGE</th>
                </tr>
                <tr>
                    <th colspan="8">
                        <input st-search class="form-control" placeholder="global search ..." type="search" ng-change="" ng-model="vm.searchterm" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.displayedEvents | orderBy:'-timestamp'">
                    <td>{{item.timestamp | date:'yyyy-MM-dd'}}</td>
                    <td>{{item.timestamp | date:'HH:mm:ss'}}</td>
                    <td>{{item.involvedObject.name}}</td>
                    <td>{{item.involvedObject.kind}}</td>
                    <td>{{item.involvedObject.fieldPath}}</td>
                    <td>{{item.reason}}</td>
                    <td>{{item.source}}</td>
                    <td>{{item.message}}</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="vm.displayedPages"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
