<h1>Minions</h1>
<div class="table-responsive">
    <table class="table table-striped" ng-controller="MinionListController">
        <thead>
        <tr>
            <th colspan="2">NAME</th>
            <th>LABELS</th>
            <th>STATUS</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="minion in vm.minions">
            <td>{{minion.hostIP}}</td>
            <td>
                <button type="button" class="btn btn-sm">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </button>
            </td>
            <td>{{minion.labels}}</td>
            <td>{{minion.status.conditions.0.kind}}</td>
        </tr>
        </tbody>
    </table>
</div>

