<h1>Minions</h1>
<div class="table-responsive">
    <table class="table table-striped" ng-controller="MinionListController">
        <thead>
        <tr>
            <th>NAME</th>
            <th>LABELS</th>
            <th>STATUS</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="minion in vm.minions">
            <td>{{minion.hostIP}}&nbsp;
                <a ng-hide="vm.isDockerUiNotRunningOnHost(minion.hostIP)" ng-href="/#/frame?url=/api/kubernetes/proxy/pods/{{vm.getDockerUiId(minion.hostIP)}}">
                    <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                            title="Tooltip on top">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                </a>
            <td>{{minion.labels}}</td>
            <td>{{minion.status.conditions.0.kind}}</td>
        </tr>
        </tbody>
    </table>
</div>

