<h1>Services (Loadbalancer)</h1>
<div class="table-responsive">
    <table st-table="vm.displayedLoadbalancers" st-safe-src="vm.loadbalancers" class="table table-striped" ng-controller="LoadBalancerListController">
        <thead>
            <tr>
                <th st-sort="id">NAME</th>
                <th st-sort="labels">LABELS</th>
                <th st-sort="selector">SELECTOR</th>
                <th st-sort="portalIP">IP</th>
                <th st-sort="port">PORT</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th colspan="6">
                    <input st-search class="form-control" placeholder="global search ..." type="search" ng-change="" ng-model="vm.searchterm" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.displayedLoadbalancers">
                <td>{{item.id}}</td>
                <td><keyvaluelist data="item.labels"></keyvaluelist></td>
                <td><keyvaluelist data="item.selector"></keyvaluelist></td>
                <td>{{item.portalIP}}</td>
                <td>{{item.port}}</td>
                <td>
                    <a ng-href="/#/service/{{item.id}}">
                        <button class="btn btn-sm" type="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="vm.displayedPages"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>